cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0"
crelm==0.0.26a16 ; python_version >= "3.8" and python_version < "4.0"
john==0.1.1a3 ; python_version >= "3.8" and python_version < "4.0"
pexpect==4.8.0 ; python_version >= "3.8" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0"
